body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --font-josefin-sans: "Josefin Sans";

  /* Colors */
  --color-white: #fff;

  /* Gaps */
  --gap-0: 0px;

  /* Paddings */
  --padding-60xl: 79px;
}
